{{ form_start(form) }}
    {{ form_widget(form) }}
    <a id="btn1"><i class="fa fa-plus-circle fa_custom fa-3x"></i></a>
    <a id="btn2"><i class="fa fa-plus-circle fa_custom fa-3x"></i></a>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var $sport;
    $sport = $('#professeur_idMatiere');
    
     $('#professeur_id_professeur2').hide();
      $('#professeur_id_professeur3').hide();
     $('btn2').hide();
     $( "#btn1" ).click(function() {
         $('#professeur_id_professeur2').show();
   $('#btn1').hide();
    $('btn2').show();
});
$( "#btn2" ).click(function() {
    $('#professeur_id_professeur3').show();
   $('#add2').show();
   $('#btn2').hide();
});
    $sport.change(function() {
        $('#affectation_id_professeur').show();
        
        var $form = $(this).closest('form');
        var data = {id_matiere : $sport.val()};
        $.ajax({
            url : $form.attr('action'),
            type: 'GET',
            data : data,
            success: function(html) {
                $('#affectation_id_professeur').replaceWith(
                    $(html).find('#affectation_id_professeur')
                );
                  var $sport1;
                    $sport1 = $('#professeur_idMatiere');
                    $sport1.change(function() {
                    
                    var $form = $(this).closest('form');
                    var data = {id_matiere2 : $sport1.val()};
                    $.ajax({
                        url : $form.attr('action'),
                        type: 'GET',
                        data : data,
                        success: function(html) {
                            $('#affectation_id_professeur2').replaceWith(
                                $(html).find('#affectation_id_professeur2')
                            );
                            var $sport2;
                                $sport2 = $('#professeur_idMatiere');
                                $sport2.change(function() {
                                
                                var $form = $(this).closest('form');
                                var data = {id_matiere3 : $sport2.val()};
                                $.ajax({
                                    url : $form.attr('action'),
                                    type: 'GET',
                                    data : data,
                                    success: function(html) {
                                        $('#affectation_id_professeur3').replaceWith(
                                            $(html).find('#affectation_id_professeur3')
                                        );
                                    }
                                });
                            });
                        }
                    });
                });
            }
        });
    });
</script>