<form method="post" action="{{ path('virement_delete', {'idVirement': virement.idVirement}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ virement.idVirement) }}">
    <button class="btn">Delete</button>
</form>
